/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* tell the SVG path to be a thin blue line without any area fill */
path {
  stroke: #FF9988;
  stroke-width: 3;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x_axis line {
  stroke: black;
}

.x_axis .minor {
  /*stroke-opacity: .1;*/
  stroke: black;
}

.x_axis path {
  stroke: black;
}

.y_axis line, .y_axis path {
  stroke: black;
  fill: none;
}